<footer class="footer">
  <small>
    Site made with <strong style="color:Tomato;">&#10084;</strong> by <a href="https://github.com/Ahaupt3"><strong>Alex Haupt</strong></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://weblog.rubyonrails.org/news/" target="_blank">News</a></li>
    </ul>
  </nav>
</footer>